*{
	box-sizing: border-box !important;
	font-family: 'Roboto', sans-serif !important;
	text-rendering: optimizeLegibility !important;
}
.btn-todo{
	float:left;
	background-color: #6BB299;
	color: #FFF;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	outline: none;
	background-color: #74BAA1;
	padding: 10px 40px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	text-transform: ease-in-out 0.2s;
}
.btn-todo i{
	float:left;
	font-size:20px;
}
.btn-todo span{
	float:left;
	font-size:14px;
	margin:5px 5px;
}
.btn-todo:active{
	background-color: rgba(255, 255, 255, 0.15);
}
.main{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color:#EEE;
	overflow-y:auto;
	padding:80px 30px;
}
.mainHeader{
	position:fixed;
	left:0;
	top:0;
	right:0;
	height:70px;
	padding:10px;
	background-color: #6BB299;
}
.align-center{
	display: block;
	margin-left:auto;
	margin-right: auto;
	width:1292px;
	height:auto;
}
.note{
	position: relative;
	display: inline-block;
	width:300px;
	height:300px;
	background-color:#FFF;
	margin:20px 10px;
}

.note .title{
	float:left;
	width:100%;
	height:50px;
	color:#FFF;
	/*background-color:#6BB299;*/
}

.note .title .inputTitle{
	float:left;
	height:100%;
	width:250px;
	padding-left:30px;
	border:none;
	font-size:12px;
	font-weight: 300;
	outline: none;
	background:none;
	color:#FFF;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: bold;
}

.note .title .inputTitle::-webkit-input-placeholder{
	font-weight: 100;
	font-size: 13px;
}
.note .title.red .inputTitle::-webkit-input-placeholder{
	color:#FDC7C7;
}

.note .title.orange .inputTitle::-webkit-input-placeholder{
	color:#FFF3D9;
}

.note .title.green .inputTitle::-webkit-input-placeholder{
	color:#EDF9DB;
}

.note .title.grey .inputTitle::-webkit-input-placeholder{
	color:#F4F4F4;
}



.note .title.red{
	background-color:#F48875;
}
.note .title.orange{
	background-color:#F4CC75;
}
.note .title.green{
	background-color:#BAE776;
}
.note .title.grey{
	background-color:#D7D7D7;
}

.note .title .close{
	float: right;
	height: 40px;
	width: 40px;
	border: none;
	background: none;
	color: #FFF;
	border-radius: 50%;
	margin: 4px 4px;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition:ease-in-out 0.05s;
}
.note .title .close:active{
	background-color: rgba(255, 255, 255, 0.15);
}
.note .description{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 20px;
	background-color: #F9F9F9;
	color: #717775;
	resize: none;
	font-size: 15px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.note .description:focus{
	background-color:#FFF;
}

.note .date{
	float:left;
	width:100%;
	height:30px;
	background: none;
	border:none;
	outline: none;
	color:#868485;
}
